{% extends('base.html.twig') %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/assets/css/tarif.css') }}"/>
{% endblock %}
{% block body %}
 <div class="demo10">
            <div class="container">
                <h4 class="py-4 text-center">Tableau Tarif</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Standard</h3>
                                <span class="price-value">
                                    <span class="currency">fcfa</span> 7000
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>Créer Evenement (1 Evenement)</li>
                                    <li>Génerer Billet</li>
                                    <li>Telecgarger Billet</li>
                                    <li>Gérer compte personnel</li>
                                    <li>Payement Physique</li>
                                </ul>
                                <a href="#" class="read">sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Business</h3>
                                <span class="price-value">
                                    <span class="currency">fcfa</span>
                                    <span class="currency-fcfa">20000</span>
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>Créer Evenement</li>
                                    <li>Génerer Billet</li>
                                    <li>Telecgarger Billet</li>
                                    <li>Gérer compte personnel</li>
                                    <li>Scan Billet</li>
                                </ul>
                                <a href="#" class="read">sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Premium</h3>
                                <span class="price-value">
                                    <span class="currency">fcfa</span> 30000
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>Créer Evenement</li>
                                    <li>Génerer Billet</li>
                                    <li>Telecgarger Billet</li>
                                    <li>Gérer compte personnel</li>
                                    <li>Scan Billet</li>
                                </ul>
                                <a href="#" class="read">sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Extra</h3>
                                <span class="price-value">
                                    <span class="currency">fcfa</span> 40000
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>Créer Evenement</li>
                                    <li>Génerer Billet</li>
                                    <li>Telecgarger Billet</li>
                                    <li>Gérer compte personnel</li>
                                    <li>Paiment en ligne</li>
                                </ul>
                                <a href="#" class="read">sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}